{
  "extends": [
    "eslint:recommend",
    "plugin:react/recommend",
    "plugin:import/recommend",
    "plugin:jsx-a11y/recommend",
    "plugin:@typescript-eslint/recommend",
    // disable rule esplint xung đột với prettier
    "esplint-config-prettier",
    "prettier"
  ],
  "plugins": ["prettier"],
  "settings": {
    "react": {
      // eslint tự detect version react
      "version": "detect"
    },
    // eslint xử lý import
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    // tắt rule yêu cầu import React trong jsx
    "react/react-in-jsx-scope": "off",
    // Cảnh báo khi thẻ < a target = '_blank' mà không có rel = "noreferrer"
    "react/jsx-no-target-blank": "warn",
    // Tăng cường một số rule prettier ( copy từ file.prettierrc qua)
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "always",
        "semi": false,
        "trailingComma": "none",
        "tabWidth": 2,
        "endOfLine": "auto",
        "useTabs": false,
        "singleQuote": true,
        "printWidth": 120,
        "jsxSingleQuote": true
      }
    ]
  }
}
